body{
    margin: 0;
    font-family: Calibri;
}

h1{
    font-size: 1.5rem;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 1rem;
}

.header header{
    font-size: 2rem;
}

nav{
    display: flex;
    align-items: flex-end;
}

nav a{
    padding-bottom: 0.25rem;
    margin-right: 0.5rem;
}


.headerImg{
    width: 100vw;
    height: 350px;
    overflow: hidden;
}