body{
    margin: 0;
    font-family: Calibri;
}

h1{
    font-size: 1.5rem;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem 0.75rem 1rem;
}

.header header{
    font-size: 2rem;
}

nav{
    display: flex;
    align-items: flex-end;
    color: hsla(175, 25%, 30%, 1.0);
}

nav a{
    padding: 0.1rem 10px;
    margin-right: 0.5rem;
    text-decoration: none;
    color: hsla(175, 25%, 30%, 1.0);
    border-bottom: 2.5px solid hsla(175, 42%, 42%, 0);
    transition: all 0.35s ease-out;
}

nav a:hover{
    border-bottom: 2.5px solid hsla(175, 42%, 42%, 1.0);
    border-radius: 30px;
    color: white;
    background-color: hsla(175, 42%, 42%, 1.0);
    transition: all 0.35s ease-out;
}

nav .currentPage{
    border-bottom: 2.5px solid hsla(175, 42%, 42%, 1.0);
}


.headerImg{
    width: 100vw;
    height: 350px;
    overflow: hidden;
}