html{
    background-color: white;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Calibri;
    overflow-x: hidden;
    background-color: white;
}

h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0 1rem 0 !important;
    font-family: 'Roboto';
}

.header {
    margin: 0;
    padding: 0.5rem 0 0.875rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem 1rem 0.75rem 1rem;
}

.logo {
    width: 120px;
}

.header header {
    font-size: 2.75rem;
    margin: 0.5rem 0 0.75rem 0;
    color: hsla(165, 0%, 22%, 1.0);
}

nav {
    display: flex;
    align-items: flex-end;
    color: hsla(165, 25%, 30%, 1.0);
}

nav a {
    padding: 0.15rem 15px 0.1rem 15px;
    margin-right: 2rem;
    text-decoration: none;
    color: hsla(165, 25%, 30%, 1.0);
    border-bottom: 2.5px solid hsla(165, 40%, 36%, 0);
    transition: all 0.35s ease-out;
}

nav a:hover {
    border-bottom: 2.5px solid hsla(165, 40%, 36%, 1.0);
    border-radius: 30px;
    color: white;
    background-color: hsla(165, 40%, 36%, 1.0);
    transition: all 0.35s ease-out;
}

nav .currentPage {
    border-bottom: 2.5px solid hsla(165, 40%, 36%, 1.0);
}

.verticalText {
    display: grid;
}


.headerImg,
.headerImgC,
.headerImgContact,
.headerImgLink,
.headerImgServices,
.headerImgShots {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 160px;
    overflow: hidden;
}

.headerImg img {
    width: 100vw;
    transform: translateY(-5%);
}

.headerImgC img,
.headerImgShots img,
.headerImgServices img {
    width: 100vw;
    transform: translateY(3%);
}

.headerImgContact img {
    width: 100vw;
    transform: translateY(30%);
}

/************* Main Content **************/

.contentCnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 1.5rem 0;
}

.rowWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.rowWrap .content {
    width: 50%;
    min-width: 360px;
}

.rowWrapForText {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aboutSYH{
    width: 100%;
    margin-top: 3.5rem;
}

.leftAlign{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.rowWrapForText .col {
    width: 46%;
    min-width: 300px;
}

.colCol {
    display: flex;
    flex-direction: column;
}

.col img {
    width: 100%;
    margin-top: 1rem;
}

.square{
    height: 20px;
    background-color: hsla(165, 25%, 40%, 1.0);
    width: 50px;
    margin-bottom: 0.25rem;
}

.rowWrapForText .col3 {
    width: 30%;
    min-width: 300px;
    margin: 0.5rem 0.35rem;
}

.col:nth-child(1) {
    margin-right: 0.75rem;
}

.subtitle {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

h1 {
    color: hsla(165, 0%, 22%, 1.0);
    margin: 0 0 0.75rem 0;
    font-size: 2rem;
}

.email {
    text-decoration: underline;
}

.grayArea {
    background-color: hsla(165, 0%, 92%, 1.0);
    width: 100%;
    padding: 3rem 0 0 0;
}

.rowCtn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 3rem 0 3rem;
}

.content p {
    padding: 0.6rem 0 0 0;
    margin: 0;
    line-height: 1.75rem;
    font-weight: 400;
}

.pic {
    width: 16%;
    min-width: 150px;
    float: left;
    padding: 0.75rem 1rem 0 0;
}

.picEven {
    width: 16%;
    min-width: 150px;
    float: right;
    padding: 0.75rem 0 3rem 1rem;
}

.picAndWord {
    padding: 0;
}

.wide {
    width: 100%;
    padding: 0;
}

.picAndWordRow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconCtn {
    margin: 2.5rem 0 0 0;
    width: 100px;
    height: 100px;
    background-color: hsla(165, 5%, 94%, 1.0);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-out;
}

.fasImg {
    font-size: 2.25rem;
    padding: 1rem;
    color: hsla(165, 40%, 36%, 1.0);
}

.name {
    padding-top: 0.6rem !important;
}

.wwd {
    margin: 3.5rem 0 0 0;
    padding: 0;
}

.littleTitle {
    margin: 1.5rem 0 1rem 0;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 3rem 0 3rem;
}

.logos img {
    max-width: 120px;
    max-height: 80px;
    margin: 0.75rem;
}

.whiteRow {
    background-color: white;
    width: 100%;
}

h3 {
    color: hsla(165, 0%, 22%, 1.0);
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
}

.formRow {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
}

.formRow .form {
    width: 100%;
}

.formRow .form:nth-child(1) {
    margin: 0.8rem 1rem 0 0;
}

.form input {
    border: 1.5px solid hsla(165, 0%, 65%, 1.0);
    border-radius: 2px;
    min-width: 200px;
}

.form .formDetail {
    height: 100px;
    border: 1.5px solid hsla(165, 0%, 65%, 1.0);
    border-radius: 2px;
    transition: all 0.5S ease-out;
    min-width: 200px;
}

.form2 {
    margin-top: 0.75rem;
}

.form input:focus,
.form .formDetail:focus {
    border: 1.5px solid hsla(165, 40%, 36%, 1.0);
    transition: all 0.5S ease-out;

}

.SubmitBtn {
    border: none;
    background-color: hsla(165, 40%, 36%, 1.0);
    border-radius: 3px;
    height: 32px;
    width: 68px;
    margin: 1rem 0 2rem 0;
    font-family: Calibri;
    font-size: 1rem;
    color: white;
}

.SubmitBtn:active {
    background-color: hsla(165, 30%, 26%, 1.0);
}

.picAndWordRow p {
    padding: 0;
}

footer {
    padding: 0.5rem 0;
    margin: 4rem 0 0 0;
    display: flex;
    justify-content: center;
    background-color: hsla(165, 0%, 92%, 1.0);
    color: hsla(165, 0%, 60%, 1.0);
}


.contentConsult {
    display: flex;
    flex-direction: row;
}

.fasPdf {
    color: hsla(165, 35%, 35%, 1.0);
    font-size: 1.1rem;
    transition: all 0.25s linear;
}

.fasPdf:hover {
    color: hsla(165, 65%, 42%, 1.0);
    transition: all 0.25s linear;
}

audio{
    margin: 0.2rem;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links div,
.links p {
    display: flex;
    flex-basis: 33%;
    min-width: 360px;
    height: 3rem;
    background-color: hsla(165, 5%, 94%, 1.0);
    align-items: center;
    margin: 0.1rem;
}

.linksTall div {
    height: 7.5rem;
    line-height: 1.3rem;
}

.linksFree span{
    margin: 0 1rem;
}

.links div a {
    margin: 0 0.35rem 0 1rem;
}

.linksAs div a:nth-child(2) {
    margin: 0 0.35rem 0 0.15rem;
}

.links div span {
    margin-right: 1rem;
}

.links div:nth-child(even),
.links p:nth-child(even) {
    background-color: hsla(165, 15%, 89%, 1.0);
}

.mainCtn {
    margin: 0 5rem 0 5rem;
}

.subtitleSec {
    margin: 5rem 0 1.5rem 0;
}

.subtitleBorder {
    border-bottom: 2px solid hsla(165, 14%, 75%, 1.0);
    align-items: flex-start;
}

.titleCa {
    margin-top: 3rem;
}

h4 {
    margin: 2.75rem 0 0.5rem 0 !important;
}

.contact input {
    font-family: Calibri;
    font-size: 1rem;
    padding: 0 0 0 0.25rem;
    height: 2rem;
}

.para {
    padding-top: 1rem !important;
}

.contentRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.contentRow div {
    flex-basis: 45%;
}

.contentRow div:nth-child(1) {
    margin-right: 3rem;
}

.logoSmall {
    max-width: 280px !important;
    max-height: 100px !important;
    width: 220px;
}

#humburger {
    display: none;
}

#humburger i {
    color: hsla(165, 35%, 35%, 1.0);
    font-size: 1.25rem;
}

.logoTitle {
    color: hsla(165, 35%, 35%, 1.0);
    font-size: 1.25rem;
}

.logoTitle span {
    font-weight: 900;
    margin: 0 0 0 1rem;
}

.companyTitle {
    font-size: 2rem;
    margin: 0 0 0 2rem;
    position: absolute;
    transform: translateY(0.5rem);
}

.shots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.shots img {
    width: 41vw;
    height: 32.25vw;
    min-width: 340px;
    min-height: 255px;
    margin: 0.25rem;
}

.bold {
    font-weight: 900;
}

.contactCtn i,
.contactCtn .bold {
    color: hsla(165, 0%, 28%, 1.0);
}

.contactRow {
    display: flex;
    flex-direction: row;
    border-top: 1.5px solid hsla(165, 14%, 75%, 1.0);
}

.contactWords {
    width: 140px;
}

.socialMedia {
    margin-top: 1.75rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.75rem;
}

.socialMedia i {
    color: hsla(165, 14%, 55%, 1.0);
    padding: 0.2rem;
}

.socialMedia i:hover {
    color: hsla(165, 40%, 35%, 1.0);
}

.banner{
    height: 45px;
    background-color: hsla(165, 35%, 35%, 1.0);
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bannerText{
    width: 600px;
    text-align: center;
    color: white;
    transform: translateX(100vw);
    animation: bannerRoll 18s linear infinite;
}

.bannerText:hover{
    animation-play-state: paused;
}

.contactWrap {
    justify-content: center;
}

.leaflet{
    font-size: 3rem;
}

.moreAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.news span{
    cursor: pointer;
}

.newsItem{
    width: 47%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.releaseDate{
    color: rgb(150, 150, 150);
}

#modalNews{
    position: fixed;
    height: 450px;
    width: 60%;
    top: calc((100% - 450px)/2);
    left: 20%;
    border-radius: 10px;
    box-shadow: 1px 1px 25px hsla(165, 0%, 0%, 0.3);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsContent{
    width: 85%;
}

.newsContent h2 {
    border-left: hsla(165, 25%, 40%, 1.0) solid 8px;
    padding-left: 8px;
}

#newsContent{
    overflow: auto;
    height: 200px;
}

.closeCtn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.closeCtn p{
    margin-right: 1.3rem;
    cursor: pointer;
}

#overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(165, 0%, 0%, 0.2);
    cursor: pointer;
}

.hide{
    display: none !important;
}

@keyframes bannerRoll{
    0%{
        transform: translateX(-90vw);
    }

    100%{
        transform: translateX(90vw);
    }
}

@media (max-width:990px) {
    .header nav {
        margin-top: 4rem;
        padding: 1.5rem 0 1rem 1rem;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        transform: translateX(-1rem) translateY(-0.5rem) scale(1);
        background-color: hsla(165, 0%, 92%, 1.0);
        transition: all 1.25 ease-out;
        z-index: 900;
    }

    .disappear {
        transform: scale(0.001) !important;
        transition: all 1.25 ease-out;
    }

    .header nav a {
        margin-top: 1.25rem;
    }

    .header nav a:nth-child(1) {
        margin-top: 2rem;
    }

    #humburger {
        display: block;
        z-index: 1000;
    }
}

@media (max-width:1070px) {

    .contactWrap .col {
        width: 90%;
    }

    .formRow {
        flex-direction: column;
    }
}

@media (max-width:980px) {
    .contentRow {
        flex-direction: column;
    }

    .links div {
        flex-basis: 100%;
    }
}

@media (max-width:838px) {
    .contentRow {
        flex-direction: column;
    }

    .links div {
        flex-basis: 100%;
    }

    .companyTitle {
        font-size: 1.5rem;
        margin: 0 0 0 2rem;
        padding-bottom: 1rem !important;
        position: absolute;
        transform: translateY(0.5rem);
    }

    .mainCtn {
        margin: 0 3rem 0 3rem;
    }
}

@media (max-width:736px) {
    .rowWrapForText {
        justify-content: center;
    }

    .rowWrapForText .col,
    .rowWrap .content {
        width: 100%;
    }

    .col {
        margin: 1.75rem 0 0 0 !important;
        padding: 0 !important;
    }

    .rowWrapForText .col3 {
        width: 90%;
    }

    .narrowList h3 {
        margin-left: 2rem;
    }

    .picAndWord {
        padding: 0;
    }

    .subtitleSec {
        border-bottom: 2px solid hsla(165, 14%, 75%, 1.0);
    }
}

@media (max-width:471px) {

    .mainCtn {
        margin: 0 1.25rem 0 1.25rem;
    }
}

@media (max-width:536px) {
    .header{
        padding: 0.5rem 0 0.875rem 0rem;
    }
}