.card {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-out;
}

.card h1 {
  font-size: 28px;
  font-weight: 500;
}

.card p {
  line-height: 24px;
  width: 100%;
}

.intro-icon {
  width: 60px;
}

.colorRectangle {
  background-color: var(--primary-color);
  height: 15px;
  width: 40px;
}

.listCtn {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 50px;
  gap: 22px;
  flex: 0 1 55%;
}

.listItem {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 16px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  font-weight: 500;
  transition: all 0.25s ease-out;
}

a.listItem {
  cursor: pointer;
  text-decoration: none;
  color: #696969;
}

.listItem:hover {
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: all 0.25s ease-out;
}

.pdfIcon {
  margin-right: 10px;
  width: 25px;
}
