@import url("./variables.css");

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #fff; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: hsl(165, 10%, 80%); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #fff; /* creates padding around scroll thumb */
}

.bi {
  font-size: 12px;
}

.displayCenter {
  display: flex;
  justify-content: center;
}

.mainContent {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pageCtn {
  width: 100%;
  max-width: var(--max-content-width);
}
